/* Generic Selectors */

body {
	font-family: Helvetica, "Helvetica", Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: #000000;
	height: 100%;
}
p {
	color: #fff;
    width: 95%;
}
h1 {
    text-shadow: 0 2px 0 #333;
    color: #fff;
}
h3 {
    text-shadow: 0 2px 0 #333;
    color: #fff;
}

img: {
    border-radius: 50%;
}
hr { 
    margin-left: -25em;
    margin-right:0;
    border: 1px solid #17999b;
}
table {
    color: #fff;
    width: 99%;
}
button {
    width: 12vw;
    height: 6vh;
    background: #5CC3C3;
    border: 1px solid #5CC3C3;
    color: #fff;
}

button > img {
  height: 2.5vh;
}

/* Add this to align vertically */
button > img,
button > span {
  vertical-align: middle;
}




/************************* ID's *************************/

#wrap {
      overflow: hidden;
}
#top {
    position: fixed;
    top:0;
	margin-left: 29.4vw;
    background-color: #000000;
    min-width: 600px;
    overflow: hidden;
    z-index: 2;
}
#side {
    position: absolute;
    top: 4vh; 
    left:30vw;
    z-index: 1;
}

/************************* Pages *************************/
#page1 {
    margin-left: 45vh; 

}
#page2 {
    margin-top: 4vh; 

}
#page3 {
    margin: 4vh 2vw 2vh 4vw; 

}
#page7 {
    margin-top: 45vh; 
    margin-left: 25vw; 
    width: 30vw;

}



/************************* Content Box *************************/

#contentBox {
    height: 20em;
    width: 100%;
    background-color: rgba(23, 153, 155, 0.5);
    opacity: 0.65;
    border-radius: 10px;
    overflow-y: auto;

}
#contentBox h1{
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-shadow: 0 2px 0 #000;
    color: #fff;    
}
#contentBox h2{
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-shadow: 0 2px 0 #000;
    color: #fff;    
}
#contentBox h5{

    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0 1px 0 #000;
    color: #eee;    
}
#contentBox p{
    font-size: 14px; 
    padding-left: 10px;
    color: #ddd;
}
#contentBox ul, li{
    font-size: 14px; 
    color: #ddd;
}

/************************* tiles **************************/


.tile {
    width: 13em;
    height: 11em;
    line-height: 12em;
    text-align: center;
    vertical-align: middle;
    background: #5CC3C3;
    border: 1px solid #eeeeee;
    transition: all 0.3s ease-out;
    cursor: pointer;
    opacity: 1;
    float: left;
}
a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}
.tile:hover {
    opacity: 0.5;
}

.overlay {
  position: fixed;
  top: 4vh;
  left:30vw;
  bottom: 0;
  right:0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 0;
  z-index: -1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

.popup {
  top: 20vh;
  left: 4vw;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 54vw;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h1 {
  margin-top: 0;
  color: #5CC3C3;
  font-family: Tahoma, Arial, sans-serif;
  text-shadow: none;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #5CC3C3;
}
.popup .content {
  color: #17999b;
  max-height: 40%;
  overflow: auto;
}
.popup .content p{
  color: #17999b;
}




/************************* Menu Bar *************************/

#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 2;
}
#menu {
    width: 110%;
    margin: 0px auto;
    border: 1px solid #17999b;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    box-shadow: 0 1px 1px #777;
}
#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu li {
    float: left;
    border-right: 1px solid #17999b;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #fafafa;
}

#menu ul {
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 2;    
    background: #444;   
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menu .active {
    background-color: #222;
    color: #eee;
}

/************************* Side Bar *************************/


#main {
		position: fixed;
		top: 0;
		width: 30vw;
		height: 100%;
		/*background-image: url("IMG_4075.jpg");*/
		background: #111111;
		outline: 0;
		text-align: left;
		visibility: visible;
		z-index: 10000;
		left: 0;
		font-family:  Helvetica, sans-serif;
		font-weight: 400;
		font-size: 1vw;
		color: #17999b;
		border-right: 2px solid #17999b;
		overflow:auto;

}

#header {
	font-weight: 400;
	line-height: 0.5;
	margin-top: 1em;
	margin-left: 1.5em;
	color: #dddddd;
	padding: 1em 1em 1em 1em ;

}
#header h1 {
	font-size: 3em;
	font-weight: 700;
}
#header h2 {
	font-size: 2em;
	font-weight: 500;
}
#header h3 {
	font-size: 1.5em;
	font-weight: 300;
}
#header p {
	line-height: 1.2em;
	text-align: justify;
}
#images {
	margin-top: 5em;
	background: #17999b;
}
#circle {
	width: 60px;
	height: 60px;
	background: #17999b;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 2px;
}

/************************* Skill Bar *************************/


.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:10vw;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background-color: rgba(23, 153, 155, 0.5);
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width: 0px;
    background:#5CC3C3;;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}
