/* Generic Selectors */

body {
	font-family: Georgia, "Times New Roman", Times, sans-serif;
	font-size: 14px;
	color: #262275;
	background-color: #07bbdf;
}

p {
	width: 80%;
}


img: {
    border-radius: 50%;
}

/************************* ID's *************************/




#main {

	-moz-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
		-webkit-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
		-ms-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
		transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
		-webkit-overflow-scrolling: touch;
		position: fixed;
		top: 0;
		width: 22.5em;
		height: 100%;
		background: #cafff7;
		outline: 0;
		overflow-x: hidden;
		overflow-y: auto;
		text-align: left;
		visibility: visible;
		z-index: 10000;
		left: 0;
		font-family:  Georgia, "Times New Roman", Times, sans-serif;
		font-weight: 400;
		font-size: 1em;
		color: #17999b;
		border-right: 2px solid #17999b;
}

#header {
	font-weight: 400;
	line-height: 0.5;
	margin: 0 0 0.5em 0;
	color: #17999b;
	padding: 1em 1em 1em 1em ;
}
#header h1 {
	font-size: 2.25em;
	font-weight: 700;
	color: #17999b
}
#header p {
	font-size: 1.25em;
	font-weight: 500;
	color: #17999b
}
#footer {
	margin-top: 2em;
}

#footer p {
	margin-left: 2.25em
}
#footer ul{
	list-style-type: none;
}
#footer li{
	padding-bottom: 4em
	line-height: 1em;
}
#contentBox {
	
	position: fixed;
	z-index: 10000;
	background: #cafff7;
	margin-left: 23em;
	margin-top: 7.5em;
	color: #17999b;

	border-bottom: 2px solid #17999b;

}
#menu {
	-moz-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
	-webkit-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
	-ms-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
	transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	z-index: 10000;
	background: #262275;
	padding-left: 22.5em;
	color: #cafff7;
	overflow-x: hidden;
	overflow-y: hidden;
	top: 0;
	left: 0;
	right: 0;
	height: 6.5em;
	border-bottom: 2px solid #17999b;

}
#menu ul {
	list-style-type: none;
    margin-top: 0;
    padding: 1em 1em 1em 1em ;
}
#menu li {
	display: inline-block;
	float: left;
}
#menu a:link {
	text-decoration: none;
	font-weight: 600;
}

#menu li a:link {
	display: inline-block;
	color: #cafff7;
	text-decoration: none;
	padding: 1em 1em;
	font-weight: 600;
	font-size: 20px;

}
#menu a:visited {
	color: #cafff7;
	font-weight: 600;

}
#menu li a:visited {
	color: #cafff7;
	padding: 1em 1em;
	font-weight: 600;
}
#menu a:hover {
	color: #cafff7;
	font-weight: 600;
	text-decoration: underline;
}

#menu li a:hover {
	background-color: #17999b;

}

#menu a:active {
	color:#17999b;
	font-weight: bold;

}
#menu li a:active {
	color:#17999b;
	font-weight: bold;

}


