/* Generic Selectors */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #333333;
	background-color: #F9F9F9;
}

p {
	width: 80%;
}

li {
	float: left;
	/*list-style-image: url(../images/arrowSmall.gif);*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #C6EC8C;
}

 

/**************** Pseudo classes ****************/

a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

li a:link {
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 15px 15px;
	font-weight: bold;
}

a:visited {
	color: #FFFFFF;
	font-weight: bold;
}

li a:visited {
	color: #FFFFFF;
	padding: 15px 15px;
	font-weight: bold;
}

a:hover {
	color: #FFFFFF;
	padding-bottom: 5px;
	font-weight: bold;
	text-decoration: underline;
}

li a:hover {
	background-color: #111111;
}

a:active {
	color: rgb(255, 0, 102);
	font-weight: bold;
}

/************************* ID's *************************/

#topMenu {
position: absolute;
margin-top: 10px;
padding: 0 0 20px 20px; /*top right bottom left*/
margin-left: 235px;
border-bottom: 2px solid #C6EC8C;
width: 100%;

}
#centerDoc {
position: absolute;
z-index: 15;
padding: 0 0 20px 20px; /*top right bottom left*/
margin-top: 50px;
margin-left: 235px;
}



