/* Generic Selectors */

body {
	font-family: Helvetica, "Helvetica", Helvetica, sans-serif;
	font-size: 14px;
	color: #262275;
	background-color: #eeeeee;
	height: 100%;
}

p {
	width: 80%;
}


img: {
    border-radius: 50%;
}

/************************* ID's *************************/


#wrap {min-height: 100%;}

#main {

	-moz-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
		-webkit-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
		-ms-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
		transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
		-webkit-overflow-scrolling: touch;
		position: fixed;
		top: 0;
		width: 30em;
		height: 100%;
		/*background-image: url("IMG_4075.jpg");*/
		background: #111111;
		outline: 0;
		text-align: left;
		visibility: visible;
		z-index: 10000;
		left: 0;
		font-family:  Helvetica, sans-serif;
		font-weight: 400;
		font-size: 1em;
		color: #17999b;
		border-right: 2px solid #17999b;
		overflow:auto;

}

#header {
	font-weight: 400;
	line-height: 0.5;
	margin-top: 30em;
	color: #dddddd;
	padding: 1em 1em 1em 1em ;

}
#header h1 {
	font-size: 3em;
	font-weight: 700;
}
#header h2 {
	font-size: 2em;
	font-weight: 500;
}
#header h3 {
	font-size: 1.5em;
	font-weight: 300;
}